.cursor-pointer {
    cursor: pointer;
    transition: all 0.2s;
}

.cursor-pointer:hover {
    background-color: #f8f9fa;
    padding-left: 20px; /* Hiệu ứng thụt vào khi hover */
}

/* Override màu active cho danh mục */
.list-group-item.active {
    background-color: #0d6efd;
    border-color: #0d6efd;
    font-weight: bold;
}

/* Banner */
.banner-section {
    background: linear-gradient(135deg, #0d6efd 0%, #0dcaf0 100%);
    border-radius: 0 0 50% 50% / 20px;
    padding-bottom: 60px !important;
}